<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hunters || Categorías</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body style="background-color: #A43820">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: orange">
        <div class="container-fluid">
          <a class="navbar-brand" href="/catalogos/home">
            <img src="https://st4.depositphotos.com/1842549/20889/i/450/depositphotos_208897764-stock-photo-library-icon.jpg" alt="Biblioteca" style="height: 60px; width: 60px; border-radius: 50%; border: 2px solid white;">
          </a>
          <button class="navbar-toggler" type="button" style="background-color: white;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for Navbar in Navbars %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{Navbar.url}}" style="color: white;">{{Navbar.titulo}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <!--Empezar aquí el front-->

        {% comment %} Empieza el Form {% endcomment %}

        <div class="row my-5 rounded border border-warning" style="background-color: beige">
          <div class="col lg-10">
            <form id="searchForm">
              <div class="form-group fluid" data-aos="zoom-in-left" data-aos-duration="3000">
                <label for="formGroupExampleInput">Busqueda por Libro</label>
                <input type="input" class="form-control mb-3" id="buscarLibro" name="buscarLibro" placeholder="Libro">
              </div>
              <div class="form-group fluid" data-aos="zoom-in-left" data-aos-duration="3000">
                <label for="formGroupExampleInput">Busqueda por Categoria</label>
                <div class="dropdown">
                  <button id="dropdownButton" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    -----
                  </button>
                  <div class="dropdown-menu fluid" style="position:relative; z-index:10">
                    {% for Categoria in Categorias %}
                    <a class="dropdown-item" href="#" onclick="updateButton(this)">{{Categoria.nombre}}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-warning">Buscar</button>
              <button type="button" class="btn btn-secondary" id="clearFilters">Limpiar</button>
            </form>
          </div>
        </div>

        {% comment %} Termina el Form {% endcomment %}

        {% comment %} Empieza la Tabla {% endcomment %}
        <div class="row my-5 mx-5">
          <div class="col lg-12">
            <table class="table table-bordered table fluid" id="tablaSearch" style="background-color: beige; display:none" data-aos="fade-down-left" data-aos-duration="3000">
              <thead>
                <tr style="background-color: orange">
                  <th scope="col">ID Libro</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Año de publicación</th>
                  <th scope="col">Nombre Autor</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Descripción</th>
                </tr>
              </thead>
              <tbody>
                {% for libro in Libros %}
                <tr>
                    <td>{{ libro.id_libro }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.ano_de_publicacion }}</td>
                    <td>{{ libro.id_autor.nombre }}</td> 
                    <td>{{ libro.id_categoria.nombre }}</td>
                    <td>{{ libro.descripcion_breve }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% comment %} Termina la Tabla {% endcomment %}
      </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  <script>
    $(document).ready(function() {
        AOS.init();
    });

    function updateButton(element) {
        var button = document.getElementById("dropdownButton");
        button.textContent = element.textContent;
    }

    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      
      const buscarLibro = document.getElementById('buscarLibro').value.trim();
      const categoria = document.getElementById('dropdownButton').textContent.trim();
  
      if (buscarLibro === "" && categoria === "-----") {
          Swal.fire({
              position: "top-end",
              icon: "error",
              title: "Búsqueda incorrecta: no se ingresó ningún libro.",
              showConfirmButton: false,
              timer: 1500
          });
          return; // Detener la ejecución del código
      }
      
      fetch(`{% url 'buscar_libros' %}?buscarLibro=${buscarLibro}&categoria=${categoria}`)
        .then(response => response.json())
        .then(data => {
          const tableBody = document.querySelector('#tablaSearch tbody');
          tableBody.innerHTML = '';
  
          if (data.libros.length === 0) {
              Swal.fire({
                  position: "top-end",
                  icon: "error",
                  title: "La categoría no coincide con el libro buscado.",
                  showConfirmButton: false,
                  timer: 1500
              });
              document.getElementById('tablaSearch').style.display = 'none';
              return; // Detener la ejecución del código
          }
  
          Swal.fire({
              position: "top-end",
              icon: "success",
              title: "Búsqueda exitosa",
              showConfirmButton: false,
              timer: 1000
          });
  
          data.libros.forEach(libro => {
            const row = `
              <tr>
                <td>${libro.id_libro}</td>
                <td>${libro.titulo}</td>
                <td>${libro.ano_de_publicacion}</td>
                <td>${libro.nombre_autor}</td>
                <td>${libro.categoria}</td>
                <td>${libro.descripcion_breve}</td>
              </tr>
            `;
            tableBody.innerHTML += row;
          });
  
          document.getElementById('tablaSearch').style.display = data.libros.length > 0 ? 'table' : 'none';
        });
    });

    document.getElementById('clearFilters').addEventListener('click', function() {
      document.getElementById('buscarLibro').value = '';
      document.getElementById('dropdownButton').textContent = '-----';
    });
  </script>
</body>
</html>
